In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
stud= pd.read_csv('graduation_data.csv')

In [7]:
stud.head()

             Name Techstack                                    Graduation
0  Abhipsha Padhi     REACT  Odisha University of Technology and Research
1    Abhisekh Das    NODEJS   National Institution of Technology Rourkela
2  Abinash Biswal    NEXTJS   National Institution of Technology Warangal
3   Alisha Golari     FLASK     National Institution of Technology Trichy
4  Alisha Hembram    PYTHON      National Institution of Technology Delhi

In [5]:
import ast

In [8]:
stud['Techstack']=stud['Techstack'].apply(lambda x:x.split())

In [9]:
stud.head()

             Name Techstack                                    Graduation
0  Abhipsha Padhi   [REACT]  Odisha University of Technology and Research
1    Abhisekh Das  [NODEJS]   National Institution of Technology Rourkela
2  Abinash Biswal  [NEXTJS]   National Institution of Technology Warangal
3   Alisha Golari   [FLASK]     National Institution of Technology Trichy
4  Alisha Hembram  [PYTHON]      National Institution of Technology Delhi

In [10]:
stud['Graduation']=stud['Graduation'].apply(lambda x:x.split())

In [11]:
stud.head()

             Name Techstack                                         Graduation
0  Abhipsha Padhi   [REACT]  [Odisha, University, of, Technology, and, Rese...
1    Abhisekh Das  [NODEJS]  [National, Institution, of, Technology, Rourkela]
2  Abinash Biswal  [NEXTJS]  [National, Institution, of, Technology, Warangal]
3   Alisha Golari   [FLASK]    [National, Institution, of, Technology, Trichy]
4  Alisha Hembram  [PYTHON]     [National, Institution, of, Technology, Delhi]

In [12]:
stud['tags']= stud['Techstack']+ stud['Graduation']

In [13]:
stud.head()

,Name,Techstack,Graduation,tags
0,Abhipsha Padhi,[REACT],"[Odisha, University, of, Technology, and, Rese...","[REACT, Odisha, University, of, Technology, an..."
1,Abhisekh Das,[NODEJS],"[National, Institution, of, Technology, Rourkela]","[NODEJS, National, Institution, of, Technology..."
2,Abinash Biswal,[NEXTJS],"[National, Institution, of, Technology, Warangal]","[NEXTJS, National, Institution, of, Technology..."
3,Alisha Golari,[FLASK],"[National, Institution, of, Technology, Trichy]","[FLASK, National, Institution, of, Technology,..."
4,Alisha Hembram,[PYTHON],"[National, Institution, of, Technology, Delhi]","[PYTHON, National, Institution, of, Technology..."

In [14]:
new_df=stud[['Name','tags']]

In [15]:
new_df.head()

             Name                                               tags
0  Abhipsha Padhi  [REACT, Odisha, University, of, Technology, an...
1    Abhisekh Das  [NODEJS, National, Institution, of, Technology...
2  Abinash Biswal  [NEXTJS, National, Institution, of, Technology...
3   Alisha Golari  [FLASK, National, Institution, of, Technology,...
4  Alisha Hembram  [PYTHON, National, Institution, of, Technology...

In [16]:
new_df['tags']= new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\HP\AppData\Local\Temp\ipykernel_16552\335926201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x:" ".join(x))

In [17]:
import sklearn

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=73,stop_words='english')

In [19]:
vectors= cv.fit_transform(new_df['tags']).toarray()

In [20]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [21]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [22]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\HP\AppData\Local\Temp\ipykernel_16552\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

In [24]:
similarity= cosine_similarity(vectors)

In [25]:
new_df[new_df['Name']=='Abinash Biswal'].index[0]

2

In [31]:
def recommend(student):
    stud_index=new_df[new_df['Name']==student].index[0]
    distances = similarity[stud_index]
    stud_list= sorted(list(enumerate(distances)),reverse=True,key = lambda x:x[1])[1:7]
    return stud_list

In [42]:
names=recommend('Rajeev kumar padhiari')

In [43]:
for i in names:
    print(new_df.iloc[i[0]].Name)

Animesh Kumar Dash
Ashish Mohapatra
Ashutosh Mohanty
Pradeepta Kumar Sahoo
Sunshina Nayak
Vivek Parida

In [44]:
names=recommend('Animesh Nayak')

In [45]:
for i in names:
    print(new_df.iloc[i[0]].Name)

PRATEEK SASWAT RATH
Ashutosh Panda
Harshit Patro
Rakesh Kumar Pradhan
SANJEET RATH
Swagat Shekhar Seth